name: C Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Descargar código del repo
      uses: actions/checkout@v4

    - name: Instalar compilador (GCC)
      run: sudo apt-get update && sudo apt-get install -y build-essential

    - name: Compilar con Makefile
      run: make

    - name: Verificar ejecución (Opcional)
      run: ./programa_ejecutable
