name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Descargar código del repo
      uses: actions/checkout@v4
    - name: configure
      run: ./configure
    - name: Compilar con Makefile
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
    - name: Verificar ejecución (Opcional)
      run: ./main_ejecutable